h1{
    color: gray;
}
li{
    list-style-image: url(images/34214_circle_green_icon.png);
    margin: 6px;
}
table, th, td{
    border: 1px solid black;
border-collapse: collapse;
background-color: aqua;
padding: 7px;
text-align: left;
margin: 20px;
}
th.pmgone{
    color: white;
background-color: blue;
text-align: left;
border-collapse: collapse;
}
th:hover, td:hover{
    background-color: azure;
    color: black;
}
fieldset{
    width: 500px; height: 250px; margin: 20px; padding: 10px;
}
.do{
float:right ;
}
.Dont{
    float: right;
}
